:root {
    box-sizing: border-box;
}

*,
::after,
::before {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.head {
    padding-top: 1em;
    padding-bottom: 1.5em;
    margin: 0;
    background-color: #00021F;
    position: relative;
}

.head-title {
    margin: 0;
    color: white;
    text-align: center;
}

.head-title > span {
    margin: 0;
    color: yellow;
}

.fa-shopping-basket::before {
    font-size: 2.2em;
    color: white;
    transition: .2s;
}

.basket {
    position: absolute;
    top: 1em;
    right: 1em;
}

.basket:hover .fa-shopping-basket::before {
    color: grey;
    transition: .2s;
}

.basket-count {
    display: none;
    background-color: #DE781F;
    color: white;
    border-radius: 50%;
    padding: .1em .4em;
    font-size: 1.3em;
    position: absolute;
    top: -.5em;
    left: -1em;
}

.search {
    text-align: center;
    margin-top: 1em;
    position: relative;
}

.search > input {
    width: 75%;
    height: 2.5em;
    border: none;
    outline: none;
    color: #00021F;
    border-radius: .2em;
    padding: 0 .5em;
    position: relative;
    margin-right: -.2em;
}

.fa-search::before {
    display: none;
    background-color: white;
    font-size: 1.1em;
    padding: 5px;
    border-radius: .3em;
    position: absolute;
    bottom: 0;
}

/* placeholder style */
::-webkit-input-placeholder         {color:#00021F;}
::-moz-placeholder                  {color:#00021F;}/* Firefox 19+ */
:-moz-placeholder                   {color:#00021F;}/* Firefox 18- */
:-ms-input-placeholder              {color:#00021F;}
:focus::-webkit-input-placeholder   {color: transparent}
:focus::-moz-placeholder            {color: transparent}
:focus:-moz-placeholder             {color: transparent}
:focus:-ms-input-placeholder        {color: transparent}

.add-section {
    position: relative;
}

.modal {
    display: block;
}

.modal-body {
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: white;
    z-index: 2;
    overflow-x: hidden;
    padding: .5em 1.5em 4em 1.5em;
    max-width: 100vw;
}

.add-modal-bg {
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.add-button {
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 1.4em;
    font-weight: bold;
    border: none;
    outline: none;
    text-transform: uppercase;
    background-color: #1F85DE;
    color: white;
    font-size: 0.875em;
    z-index: 1;
}

.add-button:hover {
    background-color: #1D7CCE;
}

.modal-close {
    padding: 0;
    font-size: 2.5em;
    outline: none;
    border: none;
    position: absolute;
    right: .5em;
    top: .3em;
    background-color: transparent;
}

.modal-cool-input {
   box-sizing: border-box;
   border-bottom: 2px solid #ccc;
   width: 100%;
   position: relative;
   margin-top: 1.5em;
   margin-bottom: 1.5em;
   font-size: 16px;
   transition: .5s;
}

textarea {
    border-top: 10px solid black;
	resize: none;
    font-family: Arial, sans-serif;
    min-width: 100%;
}

.modal-name {
    box-sizing: border-box;
    border: none;
    background: none;
    border: none;
    width: 100%;
    padding: 1.2em 1em 0.8em;
    position: relative;
    z-index: 2;
    font-size: 1em;
}

.modal-name:focus {
    outline: none;
}

.modal-cool-input__placeholder {
    box-sizing: border-box;
    border: none;
    background: none;
    width: 100%;
    position: absolute;
    z-index: 1;
    padding-left: 1em;
    left:0;
    top: 50%;
    line-height: 1em;
    margin-top: 0;
    color: #777;
    transition: all 0.2s ease;
}

.modal-name_filled + .modal-cool-input__placeholder,
.modal-name:focus + .modal-cool-input__placeholder,
.modal-description_filled + .modal-cool-input__placeholder,
.modal-description:focus + .modal-cool-input__placeholder {
    font-size: 0.8em;
    top: 0;
    z-index: 2;
}

.modal-description {
    width: 80%;
    height: 7.5em;
    overflow: auto;
    border: none;
    z-index: 2;
    position: relative;
    background-color: transparent;
    border-top: 15px solid white;
    outline: none;
}

.image-file__added {
    width: 90px;
}

.form-group {
    padding: 1em;
    margin: 1em;
}

input[type=file] {
    outline: 0;
    opacity: 0;
    pointer-events: none;
    user-select: none;
}

.label {
    width: 120px;
    border: 2px dashed grey;
    border-radius: 5px;
    display: block;
    padding: 1.2em;
    transition: border 300ms ease;
    cursor: pointer;
    text-align: center;
    margin: 0;
}

.label i {
    display: block;
    font-size: 42px;
    padding-bottom: 16px;
}

.label i, .label .file-title {
    color: grey;
    font-weight: bold;
    transition: 200ms color;
    transition: .5s;
}

.label:hover {
    border: 2px solid #000;
}

.label:hover i, .label:hover .file-title {
    color: #000;
}

.form-group {
    display: flex;
    justify-content: center;
}

.file-title .file-title-descr {
    font-size: .6em;
}

.image-added-message__error,
.image-added-message__error-full,
.image-added-message__error-submit,
.name-value-error,
.description-value-error,
.description-value-length-error,
.price-error,
.price-max-error,
.price-type-error {
    color: red;
    display: none;
    font-size: 1em;
    font-weight: bold;
    margin-top: 2em;
}

.image-file__added {
    width: 30%;
    max-width: 10em;
    min-width: 4em;
    height: 6em;
    margin: .2em;
}

.image-add {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.image-file__added-global {
    padding: .5em;
    width: 100%;
    max-height: 19em;
    display: flex;
    justify-content: center;
    margin-bottom: .5em;
}

.image-file__added-global img {
    max-width: 20em;
    height: 12em;
    object-fit: cover;
}

.image-add .label {
    display: none;
    max-width: 6.3em;
    max-height: 6.3em;
    margin: .3em;
}

.label .fas {
    padding: .2em;
}

.gallery-active {
    border: 4px solid red;
}

.modal-body .form-submit,
.add-basket {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    border: none;
    outline: none;
    background-color: #1F85DE;
    text-align: center;
    color: white;
    padding: 1em;
    font-size: 1em;
    text-transform: uppercase;
    width: 100%;
    font-weight: bold;
    z-index: 3;
}

.form-submit:hover {
    background-color: #1D7CCE;
}

.image-add > img{
    object-fit: cover;
    box-shadow: 0 0 8px grey;
    margin: .3em;
    background-color: #DFDFDF;
}

.image-file__added-global > img {
    object-fit: contain;
}

.error-cool{
    border-color: red;
    transition: .5s;
    color: red;
}

.error-cool > span {
    color: red;
    transition: .5s;
}

.delete-image {
    display: none;
    cursor: pointer;
    margin-bottom: .5em;
}

.delete-image-flex {
    display: flex;
    align-items: center;
    padding: .1em .3em;
    border: 2px solid #1F85DE;
    border-radius: 2em;
    font-weight: bold;
    font-size: .875em;
}

.fa-trash-alt {
    color: black;
    padding: .5em;
    font-size: 1em;
}

.products-mini {
    margin: 1em .5em;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.product-mini {
    position: relative;
    width: 48%;
    margin-bottom: 1em;
    min-width: 10em;
    min-height: 15em;
    box-shadow: 0 0 8px grey;
    border-radius: .3em;
}

.product-mini:nth-child(odd) {
    margin-right: 3%;
}

.product-mini > img {
    width: 100%;
    height: 65%;
    object-fit: cover;
    border-radius: .3em .3em 0 0;
    margin-bottom: .5em;
}

.product-mini > span {
    font-size: .875em;
    font-weight: 400;
    margin: 0 .875em;
}

.product-mini > .product-mini-price {
    font-size: 1em;
    font-weight: bold;
    padding-top: .2em;
    position: absolute;
    bottom: .5em;
}

.product-modal {
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: white;
    z-index: 2;
    overflow-x: hidden;
    padding: .5em 1.5em 4em 1.5em;
    max-width: 100vw;
}

.product-modal > img {
    object-fit: cover;
    width: 100%;
    border-radius: .5em;
    margin-top: .5em;
}

.product-modal-description {
    padding: .5em;
    min-height: 30%;
    box-shadow: 0 0 16px #C1C1C1;
    line-height: 1.3em;
    font-size: 1.1em;
}

.product-modal-name {
    margin-bottom: 0;
}

.add-basket {
    background-color: #D7A609;
}

@media(min-width: 650px) {

}

@media(max-width: 345px) {
    .products {
        justify-content: space-around;
    }
}
